<a href="https://colab.research.google.com/github/sheikhi-a/Data_science_with_python/blob/main/Ch3_Paul's_book.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The types of variables
## انواع متغیرها

In [ ]:
y=12
y
type(y)

In [ ]:
y1=12.4
type(y1)
print('The value of y1 is', y1)
print('The value of y1 is \n', y1)

In [ ]:
x=[1,2,3]
print(x)
type(x)

2.0

In [ ]:
print('values of x are \n', x)

In [ ]:
y='Ali'
type(y)

In [ ]:
print(type(" Data Mining"))
print(type("10"))
print(type('10'))
print(type(10))


print(type(x))

10/3
17.5//3

In [ ]:
n1=10
n2=12
n3=8
print(n1, n2, n3)

minn=n1
if n2 < minn:
    minn = n2

if n3 < minn:
    minn = n3

print( minn)

In [ ]:
min(8, 12, 10)

In [ ]:
s1 = input('please insert the number   ')
print(s1)
type(s1)

In [ ]:
number1 = int(input('NEMBER1   '))
type(number1)

In [ ]:
number1 = int(input('NEMBER1   '))
number2 = int(input('NEMBER2  '))
number3 = int(input('NEMBER3  '))
print(number1, number2, number3)

minn = number1

if number2 < minn:
    minn = number2

if number3 < minn:
    minn = number3

print( 'The mimnimum value of', number1, number2, number3, 'is', minn)

In [ ]:
grade = 8
if grade >= 10:
    result = 'Passed'
else:
    result = 'Failed'
result

In [ ]:
result = ('Passed' if grade >= 10 else 'Failed')
result

In [ ]:
grade =16
if grade >= 15:
    result = 'excellent'
elif grade >=10:
      result='passed'
else:
    result = 'Failed'
result

In [ ]:
sum=0
x=[2, -3, 0, 17, 9]
for number in x:
    sum = sum + number
    print(sum)

25

In [ ]:
total=0
x=[2, -3, 0, 17, 9]
for number in x:
    total +=  number

total

25

In [ ]:
total=1
x=[2, -3, 10, 17, 9]
for number in x:
    total *=  number

total

-9180

In [ ]:

for counter in range(20,10, -2):
       print(counter)

In [ ]:
for number in range(5, 10):
    print(number, end=' ')

In [ ]:


for number in range(10, 0, -2):
    print(number, end=' ')

In [ ]:

total=0
for number in range(6):
    total = total + number
total

In [ ]:
list(range(6))

In [ ]:

passes = 0  # number of passes
failures = 0  # number of failures

# process 10 students
for student in range(3):
    # get one exam result
    result = int(input('Enter score    '))

    if result >= 10:
        passes = passes + 1
        print('good job')
    else:
        failures = failures + 1
        print('need to try')

# termination phase
print('Passed:', passes)
print('Failed:', failures)

#if passes > 8:
 #   print('Bonus to instructor')

In [ ]:
# Average
total = 0  # sum of grades
grade_counter = 0
grades = [98, 76, 71, 87, 83, 90, 57, 79, 82, 94]  # list of 10 grades
# processing phase
for grade in grades:
    total += grade  # add current grade to the running total
    grade_counter += 1  # indicate that one more grade was processed

average = total / grade_counter
print(f'Class average is {average}')

[98, 76, 71, 87, 83, 90, 57, 79, 82, 94]

In [ ]:
avg=sum(grades)/len(grades)
avg

81.7

In [ ]:
import statistics
statistics.mean(grades)

81.7

In [ ]:
import numpy as np
np.mean(grades)

81.7